body {
    background-color: rgb(8, 214, 237);
    font-family: serif,arial;
 }
 
 #omikuzi{
         font-family: serif,arial ;
         font-size:50px;
         font-weight: bold;
         text-align: center;
 }
 #zyuken{font-family: serif,arial ;
         font-size:20px;
         font-weight: bold;
 
 }
 #unsei{
     font-family: serif,arial ;
     font-size:20px;
 }
